<!doctype html>
<html>
   <body>
      <head>
         <title>
            login
         </title>
      </head>

      <section>
         <hr align="center" style="border:groove 4px blue; width:50%" />
         <h1>OSSP 계정 로그인</h1>
         <hr align="center" style="border:groove 4px blue; width:50%" />
       </section>


      {% if error %}
         <p><strong>Error:</strong> <b>{{ error }}</b>
      {% endif %}

      <form action = "" method = "POST">
         
         <d1>
            <dt>아이디:</dt>
            <dd>
               <input type="text" name = "username" value = "{{request.form.username}}"> 
            </dd>
            <dt>비밀번호:</dt>
            <dd>
               <input type="password" name="password">
            </dd>>
         </d1>
         <p><input type = "submit" value = "Sign Up" />   <input type="submit" value="Login"></p>
         <hr align="center" style="border:groove 4px blue; width:50%" />
      </form>
   </body>
</html>

<style>
   html {
      text-align: center;
   }

   p strong {
      color: red;
   }

   p b {
      color: red;
   }
</style>
